# QUESTION 1, TAKING INPUT AND IF THE STRING IS GREATER THAN 2 ALPHABETS THEN DELETING THE 2 CHARACTERS AND PRINTING THE REVERSE OF IT

In [2]:
str=list(input())

Yashwwanth

In [3]:
if len(str)>2:
  del str[:2]
  rev_str=str[::-1]
  print(rev_str)

['h', 't', 'n', 'a', 'w', 'w', 'h', 's']

In [4]:
final_str = ''.join(rev_str)
print(final_str)

htnawwhs

# QUESTION-1B, ARITHEMATIC OPERATIONS

In [7]:
a=int(input())
b=int(input())

10
9

In [8]:
print("sum of two no is", a+b)
print("subtraction of two no is", a-b)
print("multiplication of two no is", a*b)
print("division of two no is", a/b)

sum of two no is 19
subtraction of two no is 1
multiplication of two no is 90
division of two no is 1.1111111111111112

# QUESTION 2 Replacing Python With Pythons in a Sentence

In [11]:
sentence = input("Enter a sentence: ")

mod_sen = sentence.replace('Python', 'pythons')

print("Updated:", mod_sen)

Enter a sentence: I Love Python
Updated: I Love pythons

# Question 3 Using if statement conditions letter grade based on an input class score

In [6]:
grade= float(input())
if grade>=90:
  print('A')
elif  grade >= 80 and grade < 90:
  print('B')
elif  grade >= 70 and grade < 80:
  print('C')
elif  grade >= 60 and grade < 70:
  print('D')
else:
  print('FAIL')

97.56
A